body {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.score-board {
  align-items: center;
  position: fixed;
  background-color: aquamarine;
  border: 2px solid black;
  font-size: 30px;
  width: 200px;
  height: 100px;
  top: 10px;
  border-radius: 10px;
  overflow: none;
}

canvas {
  border: 2px solid black;
  position: fixed;
  background-color: rgb(234, 226, 214);
}
